<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <% if (!htmlWebpackPlugin.options.faviconpath && htmlWebpackPlugin.files.favicon) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
    <% } %>
    <% if (htmlWebpackPlugin.options.faviconpath) { %>
      <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.public + htmlWebpackPlugin.options.faviconpath%>">
    <% } %>
    <% for (var css in htmlWebpackPlugin.files.css) { %>
      <link href="<%= (htmlWebpackPlugin.options.public + htmlWebpackPlugin.files.css[css]).replace('/index', htmlWebpackPlugin.options.debug ? '/index' : '') %>" rel="stylesheet">
    <% } %>
  </head>
  <body>
    <div class="aragorn-midname">
      <div class="overflow">
        <div id="title" class="fadeIn" style="display: none;">
          寻 宝
        </div>
      </div>
      <div class="overflow">
        <div id="subtitle" class="slideInUp" style="display: none;">
          请开始你的 表演
        </div>
      </div>
    </div>
    <div id="bottomarrow" class="aragorn-bottomarrow slideInUp" style="display: none;">
      <div id="arrow">
      </div>
    </div>
    <div class="aragorn-nav fadeIn" id="nav" style="display: none;">
      <div class="aragorn-nav-left aragorn-nav-transform">
        <div class="aragorn-nav-left-wrapper">
          <h3 class="aragorn-nav-left-menu">Menu</h3>
        </div>
      </div>
      <div class="aragorn-nav-right-wrapper aragorn-nav-transform-right aragorn-nav-right">
        <div class="aragorn-nav-right-wrapper">
          <h3 class="aragorn-nav-right-search">Search</h3>
        </div>
      </div>
    </div>
    <div class="aragorn-background" id="aragorn-background">
      <div id="aragorn-background-output">
      </div>
      <div class="aragorn-background-controls" id="aragorn-background-controls" style="display: none;">
      </div>
    </div>
    <% for (var path in htmlWebpackPlugin.options.staticpaths) { %>
      <script src="<%= htmlWebpackPlugin.options.public + htmlWebpackPlugin.options.staticpaths[path] %>"></script>
    <% } %>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
      <script src="<%= (htmlWebpackPlugin.options.public + htmlWebpackPlugin.files.chunks[chunk].entry).replace('/index', htmlWebpackPlugin.options.debug ? '/index' : '') %>"></script>
    <% } %>
    <script>
      window._INITDATA_ = {%json_encode($data)%}
    </script>
  </body>
</html>
