<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <% if (!htmlWebpackPlugin.options.faviconpath && htmlWebpackPlugin.files.favicon) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.files.favicon%>">
  <% } %>
  <% if (htmlWebpackPlugin.options.faviconpath) { %>
    <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.faviconpath%>">
  <% } %>
  <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= (htmlWebpackPlugin.options.public + htmlWebpackPlugin.files.css[css]).replace('/index', htmlWebpackPlugin.options.debug ? '/index' : '') %>" rel="stylesheet">
  <% } %>
</head>
<body>
  <div class="aragorn-background">
  </div>
  <div class="aragorn-topname slideInDown">
    <div id="aragorn-topname">
      寻 宝
    </div>
  </div>
  <div class="aragorn-menu-button slideInDown" id="aragorn-js-menu-button">
    <div class="icon"></div>
  </div>
  <div class="aragorn-search-button slideInDown">
    <input type="text" name="input" class="input">
    <button id="aragorn-js-search-button" type="reset" class="search">
  </div>
  <div class="cycle-container">
  </div>
  <% for (var path in htmlWebpackPlugin.options.staticpaths) { %>
    <script src="<%= htmlWebpackPlugin.options.staticpaths[path] %>"></script>
  <% } %>
  <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= (htmlWebpackPlugin.options.public + htmlWebpackPlugin.files.chunks[chunk].entry).replace('/index', htmlWebpackPlugin.options.debug ? '/index' : '') %>"></script>
  <% } %>
</body>
</html>
